composer.phar
/vendor/
.env
/cache/
/.idea/
/node_modules/
# add all files to ignore list
/js/*
/public/uploads/*
# except our buddy .gitkeep since otherwise the js folder is not committed
!/js/.gitkeep
!/public/uploads/.gitkeep